@mixin header {
    margin: auto;
    box-sizing: border-box;
    font-size: 25px;
}

.division {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 50px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}